<div class="row">
    <div class="col-md-2 dropdown">
      <button class="btn btn-default dropdown-toggle">
        {{ selectedYear || 'Year' }}
      </button>
          <ul class="dropdown-menu">
            <li ng-repeat="year in years">
              <a ng-click="selectYear(year)" href>{{year}}</a>
            </li>
          </ul>
    </div>

    <div class="col-md-2 dropdown">
      <button class="btn btn-default dropdown-toggle" ng-class="{'disabled': !selectedYear }">
        {{ selectedMonth || 'Month' }}
      </button>
          <ul class="dropdown-menu">
            <li ng-repeat="month in months">
              <a ng-click="selectMonth(month)" href>{{month}}</a>
            </li>
          </ul>
    </div>
    <div class="col-md-offset-6  col-md-2">
      <button ng-click="reset()" class="btn btn-default btn-danger">
        Reset
      </button>
    </div>
</div>

<div ng-show="company">
  <div class="row">
    <h3>Total Spent <span class="label label-default">£ {{ expenseCount | number}}</span></h3>
  </div>

  <highchart id="chart1" config="chartConfig"></highchart>

</div>

<div class="searchBar">
  <form name="searchForm">
    <input type="text"
           name="Search"
           ng-model="searchText"
           ng-change="companySearch()">
  </form>
  <ul ng-if="suggestions" class="suggestions">
    <li class="suggestion" ng-repeat="suggestion in suggestions">
        <span class="cursor" ng-click="selectSupplier(suggestion)">{{ suggestion }}</span>
    </li>
  </ul>
</div>

<div class="searchResults">
  <div class="row">
     <h4 class="col-md-2">
      Transaction
     </h4>
     <h4 class="col-md-2">
      Expenses
     </h4>
     <h4 class="col-md-2">
      Supplier
     </h4>
     <h4 class="col-md-1">
      Date
     </h4>
     <h4 class="col-md-2">
      Amount
     </h4>
     <h4 class="col-md-1">
      Distance
     </h4>
     <h4 class="col-md-1">
      Votes
     </h4>
     <h4 class="col-md-1">
      Highlight
     </h4>
  </div>

  <div class="row searchRow" ng-repeat="expense in expenses | orderBy:['Votes', 'Amount']:true">
       <span class="col-md-2">
        {{ expense.TransactionNumber }}
       </span>
       <span class="col-md-2">
        {{ expense.ExpensesType }}
       </span>
       <a href="#/companies/{{ expense.SupplierName }}" class="cursor col-md-2">
        {{ expense.SupplierName }}
       </a>
       <span class="col-md-1">
        {{ expense.Date }}
       </span>
       <span class="col-md-2">
        &pound;{{ expense.Amount | number}}
       </span>
       <span class="col-md-1">
        {{ expense.Distance | number}}
       </span>
       <span class="col-md-1">
        {{ expense.Votes || 0}}
       </span>
       <span ng-click="upVote(expense)" class="cursor noselect glyphicon glyphicon-plus col-md-1"></span>
  </div>
</div>
