<div class="row">
    <div class="col-md-2 dropdown">
      <button class="btn btn-default dropdown-toggle">
        {{ selectedYear || 'Year' }}
      </button>
          <ul class="dropdown-menu">
            <li ng-repeat="year in years">
              <a ng-click="selectYear(year)" href>{{year}}</a>
            </li>
          </ul>
    </div>

    <div class="col-md-2 dropdown">
      <button class="btn btn-default dropdown-toggle">
        {{ selectedMonth || 'Month' }}
      </button>
          <ul class="dropdown-menu">
            <li ng-repeat="month in months">
              <a ng-click="selectMonth(month)" href>{{month}}</a>
            </li>
          </ul>
    </div>
    <div class="col-md-offset-6  col-md-2">
      <button ng-click="reset()" class="btn btn-default btn-danger">
        Reset
      </button>
    </div>
</div>

<search expenses="results">
</search>
